body {
  background-color: #eee;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
.container {
  margin: 40px auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 600px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}
@media (max-width: 767px) {
  .container {
    margin: 40px auto;
    width: 350px;
  }
}
.form .input {
  display: block;
  width: 300px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #f9f9f9;
  caret-color: #0b74b9;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}
.form h3 {
  font-size: 30px;
  color: #0b74b9;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form textarea.input {
  resize: none;
  height: 100px;
}
.form .input:focus {
  outline: none;
}
.form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #0b74b9;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.form input[type="submit"]:hover {
  background-color: #0b5f97;
}
.form label {
  display: block;
  padding: 10px 0;
  font-size: 25px;
}
.form .chose .line {
  margin: 10px 10px 10px 0;
  display: inline-block;
}
.form .chose .line label {
  display: inline-block;
  padding: 0px 10px 5px;
  font-size: 15px;
}
